.container{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-top: 20px; /* Add some margin at the top */
    max-height: 100vh; /* Max height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling within the container */
    box-sizing: border-box; 
}